@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

:root {
    --fonte-family: 'Ubuntu', sans-serif;
    --cor-de-fundo: #F28A2E;
    --cor-da-fonte: #0D0D0D;
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--cor-da-fonte);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
    font-family: var(--fonte-family);
}

h1 {
    font-size: 4em;
}

h3 {
    font-size: 2em;
    margin-top: 20px;
}

.mensagem {
    font-size: 1.5em;
    margin-top: 40px;
}

.box {
    border: 2px solid var(--cor-da-fonte);
    border-radius: 10px;
    display: inline-block; /*Fica dentro*/
    font-size: 4em;
    padding: 20px;
    margin: 5px;
}

.btn-jogar {
    font-family: var(--fonte-family);
    font-size: 1em;
    cursor: pointer;
    margin-top: 1em;
    padding: 8px;
    border: none;
    border-radius: 10px;
    background-color: var(--cor-da-fonte);
    color: var(--cor-de-fundo);
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
}

.btn-jogar:hover {
    background-color: #353434;
}

/* Para celulares */
@media (max-width: 767px) {

    h1 {
        font-size: 2em;
    }

    h3 {
        font-size: 1.6em;
    }

}
